
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color:#2C3E50 ;
}

main {
  flex: 1 0 auto;
}

.PersonalDetail{
  margin: 5vh;
  padding: 5vh;
  min-height: 75vh;
  background-color: rgba(128, 128, 128, 0.253);
  border-radius: 1vh;
}

.PersonalDetail h1{
  color:#c0c0c0;
}


.nav-wrapper{
  background-color:#34495E;
}

.page-footer{
  background-color:#34495E;
  height: 150px;
}


.card { 
  transition: all .5s ease-in-out; 
}

.card:hover { 
  transform: scale(1.05); 
}


.card-image{
  max-height: 400px;
}

.card-title{
  background-color:#34495e8f;
  width: 100%;
  height: 80px;
  font-size: small;
  text-overflow: ellipsis;
}

.card-content{
  height: 100px;
}

.card-action{
  max-height: 150px;
}




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
